body {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none
}

.formControl {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

.alert {
  padding: 5px;
  margin: 0;
}